/* Global ==================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--poppins);
}

:root {
  /* Colors */
  --azul: #2E86C1;

  /* Fonts */
  --ubuntu: 'Ubuntu', sans-serif;
  --poppins: 'Poppins', sans-serif;
  --source-code: 'Source Code Pro', monospace;
}

h2 {
  font-family: var(--ubuntu);
  font-size: 2rem;
  margin: 0 30px;
  padding: 30px 0;
  text-align: center;
}

section {
  height: 100vh;
}

/* Header ==================== */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  padding: 20px;
  background: var(--azul);
}

#logo {
  color: #00DEF8;
  font-family: var(--source-code);
  font-size: 2.5rem;
}

#logo span {
  color: #fff;
}

#menu-items {
  display: flex;
  gap: 2rem;
  font-weight: 400;
}

#menu-items .menu-item{
  list-style: none;
}

.menu-item a {
  text-decoration: none;
  color: #fff;
}

.menu-item a:hover {
  color: rgba(255, 255, 255, 0.493);
  transition: 400ms;
}

/* Home ===================== */
#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#home h1 {
  font-family: var(--ubuntu);
  font-size: 4rem;
}

.socials {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

/* About ===================== */
#about-me {
  display: flex;
  align-items: center;
  gap: 2rem;

  margin: 0 30px;
}

#about-me img {
  border-radius: 50%;
}

/* Projects ===================== */
#my-projects h2 {
  margin-bottom: 40px;
}

#projects {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border: 2px solid var(--azul);
  box-shadow: 1px 2px 3px #2e86c157;
  width: 350px;
  height: 400px;
  padding: 20px;
  border-radius: 10px;
}

.project-details {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  background-color: var(--azul);
  width: 250px;
  height: 50px;
  border-radius: 8px;
  box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.253);
}

.project-details:hover {
  background-color: #fff;
  border: 2px solid var(--azul);
  color: #000;
  transition: 0.5s;
}

/* Contacts ==================== */
#contacts {
  height: 80vh;
}

.contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.contact-me p {
  width: 500px;
}

/* Footer ==================== */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}