@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --primary-color: #1B1B1B;
  --secondary-color: #0080FF;
  --color-text: #fff;
}

html, body {
  background-color: var(--primary-color);
  color: var(--color-text);

  font-family: 'Roboto', sans-serif;;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

li a {
  color: currentColor;
}

.container {
  padding-inline: 12rem;
}

section {
  height: calc(100vh - 7rem);
  padding-top: 7rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;


  color: var(--color-text);

  width: 100%;
  height: 7rem;

  position: fixed;
  z-index: 99;

  transition: border 300ms;
}

header.scroll {
  background: #1b1b1be8;
  border-bottom: 1px solid #0080ff52;
}

.logo {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--color-text);
}

.logo span {
  color: var(--secondary-color);
}

.menu {
  display: flex;
  gap: 1rem;
  position: relative;
  top: 0px;
  right: initial;
}

.menu a {
  display: block;
  padding: .5rem;

  font-size: 1.8rem;

  transition: color 300ms;
}

.menu a:hover {
  color: var(--secondary-color);
}

.menu-icon {
  display: none;
}

#home {
  display: grid;
  grid-template-areas: 'text-content img-content';
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#home .home-text-content {
  grid-area: text-content;

  max-width: 46rem;
  max-height: 46rem;

  padding: 4rem 2rem;
}

#home .home-text-content h1 {
  font-size: 3.6rem;

  padding-bottom: 2.5rem;
}

#home .home-text-content p {
  font-size: 1.8rem;

  padding-bottom: 2.5rem;
}

#home .home-text-content .btn-cv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;

  width: 15rem;
  height: 5rem;

  border: none;
  border-radius: 1.2rem;
  background-color: var(--secondary-color);
  color: var(--color-text);

  font-size: 1.6rem;
  font-weight: 700;

  cursor: pointer;
  transition: all 300ms;
}

#home .home-text-content .btn-cv:hover {
  filter: brightness(0.6);
} 

#home .home-text-content .btn-cv span {
  font-size: 2rem;
}

#home .home-img-content {
  grid-area: img-content;


  max-width: 46rem;
  max-height: 46rem;
}

#home .home-img-content img {
  width: 46rem;
  height: 46rem;
}

#about h2 {
  font-size: 3rem;
  margin-bottom: 3rem;
}

#about .grid-area-content{
  display: grid;
  grid-template-areas: 'img-content text-content';
  justify-content: stretch;
  align-items: flex-start;
  gap: 2rem;
}

.about-img-content img {
  grid-area: img-content;
  max-width: 40rem;
  max-width: 30rem;

  border-radius: 1.2rem;
}

.about-text-content {
  grid-area: text-content;
  max-width: 50rem;
}

.about-text-content p {
  font-size: 1.8rem;
  line-height: 1.2;
  text-align: justify;
}

.about-text-content .my-skills {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  gap: 2rem;
}

.about-text-content .my-skills .card-lang {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.about-text-content .my-skills .card-lang img {
  margin-top: 3rem;
  width: 5rem;
}

.about-text-content .my-skills .card-lang img span {
  color: var(--secondary-color);
}


