/* GERAL ======================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  /* colors */
  --primary-color: #1B1B1B;
  --secundary-color: #0080FF;

  --standard-font: 'Poppins', sans-serif;
}

.grid {
  max-width: 60rem;

  margin: 0 auto;
  
  padding-inline: 3rem;
}

html, body {
  background: var(--primary-color);
  color: #fff;
  font-family: var(--standard-font);
  font-size: 1.6rem;
  font-weight: 400;

  scroll-behavior: smooth;

  position: relative;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

i {
  font-size: 10rem;
}

/* SCROLLBAR STYLE */
/* width */
::-webkit-scrollbar {
  width: .6rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--primary-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secundary-color);
  border-radius: 1.2rem;
}

button {
  background: none;
  border: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 14rem;
  height: 5rem;

  margin-top: 2rem;

  border: none;
  border-radius: 1.2rem;
  background: var(--secundary-color);

  font-family: var(--standard-font);
  font-size: 1.6rem;
  font-weight: 400;
  color: #fff;

  transition: 300ms;

  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}

/* ANIMATIONS
.line {
  border-right: .2rem solid #fff;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  font-size: 5rem;
}

.line2 {
  border-right: .2rem solid #fff;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  font-size: 4rem;
}

.type-animation {
  animation: cursor 500ms steps(28) infinite normal, type 4s steps(28) 1s normal both;
}

.type-animation2 {
  animation: cursor 500ms steps(28) infinite normal, type2 4s steps(28) 5s normal both;
}

@keyframes type {
  from {
    width: 0;
  }

  to {
    width: 65rem;
  }
}

@keyframes type2 {
  from {
    width: 0;
  }

  to {
    width: 43rem;
  }
}

@keyframes cursor {
  from {
    border-right-color: #fff;
  }

  to {
    border-right-color: transparent;
  }
} */



