/* GERAL ======================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  /* colors */
  --primary-color: #1B1B1B;
  --secundary-color: #00C9FF;

  --standard-font: 'Poppins', sans-serif;
}

.grid {
  max-width: 60rem;

  margin: 0 auto;
  
  padding-inline: 3rem;
}

html, body {
  background: var(--primary-color);
  color: #fff;
  font-family: var(--standard-font);
  font-size: 1.6rem;
  font-weight: 400;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* SCROLLBAR STYLE */
/* width */
::-webkit-scrollbar {
  width: .6rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--primary-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secundary-color);
  border-radius: 1.2rem;
}

button {
  background: none;
  border: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 14rem;
  height: 5rem;

  margin-top: 2rem;

  border: none;
  border-radius: 1.2rem;
  background: var(--secundary-color);

  font-family: var(--standard-font);
  font-size: 1.6rem;
  font-weight: 400;
  color: #fff;

  transition: 300ms;

  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}

/* HEADER ======================================== */
header nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding-top: 2rem;
}

header nav .logo {
  font-family: 'Fira Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: .1rem;
}

header nav .logo span {
  color: var(--secundary-color);
}

section#projects {
  display: none;
}

/* HOME ======================================== */
#home {
  display: flex;
  flex-direction: column-reverse;
}

#home aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home aside {
  margin-top: 4rem;
  margin-bottom: 5rem;
}

#home aside h4 {
  font-family: var(--standard-font);
  font-size: 2rem;
  color: #fafafa;
  font-weight: 300;
}

#home aside h4 span {
  font-family: var(--standard-font);
  color: var(--secundary-color);
  font-size: 2.2rem;
  font-weight: 700;
}

#home aside h2 {
  font-family: var(--standard-font);
  font-size: 4rem;
  letter-spacing: .16rem;
}

#home .button {
  font-size: 1.8rem;
}

#home #me {
  display: block;

  width: 30rem;
  height: 30rem;

  margin: 0 auto;
  margin-top: 5rem;
}

/* ABOUT ======================================== */
#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;

  text-align: center;
}

#about article h2 {
  font-family: var(--standard-font);
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

#about article p {
  text-align: justify;

  font-size: 1.6rem;

  margin-bottom: 2rem;
}

#about aside h2 {
  font-family: var(--standard-font);
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
}

/* PROJECTS ======================================== */
#projects {
  padding-block: 10rem;
}

#projects h2 {
  font-family: var(--standard-font);
  font-size: 3rem;
  text-align: center;
  
  margin-bottom: 4rem;
}

#projects #cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#projects #cards .card {
  background: none;

  width: 35rem;
  height: 25rem;

  border: .2rem solid var(--secundary-color);
  border-radius: 1.2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

#projects #cards .card h3 {
  background: linear-gradient(to right, var(--primary-color), var(--secundary-color), var(--primary-color));

  padding: .2rem 5rem
}

#projects #cards .card .buttons {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;

  margin-top: 3rem;

}

#projects #cards .card .button {
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--primary-color);

  width: 12rem;

  font-size: 1.6rem;
}

#projects #cards .card .button:hover {
  background: var(--primary-color);
  opacity: 0.9;
}

#projects #btnMoreProjects {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  margin-top: 4.5rem;

  background: none;
  color: var(--secundary-color);
  opacity: 0.5;
  transition: 300ms;
}

#projects #btnMoreProjects:hover {
  opacity: 1;
}

/* FOOTER  ======================================== */
