/* GERAL ======================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  /* colors */
  --primary-color: #1B1B1B;
  --secundary-color: #00C9FF;
}

.grid {
  padding-inline: 9.8rem;
}

html, body {
  background: var(--primary-color);
  color: #fff;
  font-size: 1.6rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* SCROLLBAR STYLE */
/* width */
::-webkit-scrollbar {
  width: .6rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--primary-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secundary-color);
  border-radius: 1.2rem;
}

button, .button {
  width: 15rem;
  height: 5rem;

  border: none;
  border-radius: 1.2rem;
  background: var(--secundary-color);

  font-size: 1.8rem;
  color: #fff;

  transition: 300ms;

  cursor: pointer;
}

button:hover, .button:hover {
  opacity: 0.8;
}

/* HEADER ======================================== */
header nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding-block: 3rem;
}

header nav .logo {
  font-size: 3rem;
}

header nav .logo span {
  color: var(--secundary-color);
}

header nav .menu {
  display: flex;
  flex-direction: row;
  gap: 11.5rem;
}

header nav .menu a {
  font-size: 1.8rem;
  color: #fff;

  transition: 300ms;
}

header nav .menu a:hover {
  color: var(--secundary-color);
}

/* HOME ======================================== */
#home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10rem;

  padding-top: 5rem;
}

#home aside {
  width: 46rem;
}

#home aside h1 {
  font-size: 3.2rem;
}

#home aside p {
  font-size: 2rem;
  padding-block: 2.5rem;
}

#home .social-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

#home .social-links a {
  cursor: pointer;
  transition: 300ms;
}

#home .social-links a:hover {
  transform: translateY(-.2rem);
}

/* ABOUT ======================================== */
#about {
  display: flex;
  flex-direction: row;
  gap: 15rem;

  padding-top: 10rem;
}

#about article {
  width: 50rem;
}

#about article h2 {
  margin-bottom: 2rem;
}

#about aside {
  width: 50rem;
}

#about aside h2 {
  margin-bottom: 2.5rem;
}

#about aside img#js-logo {
  margin-inline: 1.2rem;
}

#about aside img#git-logo {
  display: block;
  margin: 0 auto;
}

/* PROJECTS ======================================== */
#projects {
  padding-block: 10rem;
}

#projects h2 {
  text-align: center;
  
  margin-bottom: 4rem;
}

#projects #cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#projects #cards .card {
  background: none;

  width: 35rem;
  height: 25rem;

  border: .2rem solid var(--secundary-color);
  border-radius: 1.2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

#projects #cards .card h3 {
  background: linear-gradient(to right, var(--primary-color), var(--secundary-color), var(--primary-color));

  padding: .2rem 5rem
}

#projects #cards .card .buttons {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;

  margin-top: 3rem;

}

#projects #cards .card .button {
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--primary-color);

  width: 12rem;

  font-size: 1.6rem;
}

#projects #cards .card .button:hover {
  background: var(--primary-color);
  opacity: 0.9;
}

#projects #btnMoreProjects {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  margin-top: 4.5rem;

  background: none;
  color: var(--secundary-color);
  opacity: 0.5;
  transition: 300ms;
}

#projects #btnMoreProjects:hover {
  opacity: 1;
}

/* FOOTER CONTACT ======================================== */
#contact {
  display: flex;
  flex-direction: column;

  text-align: center;

  width: 80rem;

  margin: 0 auto;
}

#contact h2 {
  margin-bottom: 4rem;
}

#contact h3 {
  background: linear-gradient(to right, var(--primary-color), var(--secundary-color), var(--primary-color));

  margin-bottom: 4rem;
  padding: .5rem 6rem;
}